html,
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: monospace;
  background-color: black;
}

canvas {
  display: block;
  cursor: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
}

dialog {
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  z-index: 2;

  &>h1 {
    font-size: 40px;
  }

  &>h2,
  &>label,
  &>button {
    font-size: 20px;
  }

  &>button,
  &>*>button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: monospace;
  }

  &>button:hover,
  &>*>button:hover {
    filter: brightness(140%);
  }

  &>h2 {
    margin: 0px;
    margin-top: 5px;
  }

  &>p {
    font-size: 15px;
    margin: 5px;
  }

  &:focus {
    outline: none;
  }
}

#upgrades {
  display: block;
  position: fixed;
  text-align: left;
  left: 0;
  bottom: 0;
  color: white;
}

#upgrades {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
}

.red {
  background-color: rgb(150, 0, 0);
}

.red:hover {
  background-color: rgb(170, 0, 0);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#startMenu::backdrop {
  background-color: transparent;
}

#choices>button {
  width: 300px;
  /*height: 90px;*/
  height: fit-content;
  margin-top: 0px;

  &>h2 {
    font-size: 25px;
    margin: 5px;
  }

  &>p {
    font-size: 15px;
    margin: 3px;
  }
}

#deathDialog {
  &>h1 {
    font-size: 50px;
  }

  &>p {
    font-size: 30px;
    margin-bottom: 50px;
  }

  &>span:not(.wrongVersion) {
    font-size: 35px;
  }
}

#leaderboard {
  &>h2 {
    font-size: 30px;
  }

  font-size: 20px;
  align-content: start;
}

#stats {
  &>*>span {
    font-size: 20px;
  }

  &>*>h2 {
    font-size: 30px;
  }
}

.wrongVersion {
  color: lightgray;
}

.disabledText {
  color: lightgray;
  font-size: 15px;
}

#pauseMenu {
  width: 30%;
}